.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.header {
  font-size: 32px;
  display: flex;
  margin: 10px 30px;
  width: max-content;
}

.logo {
  height: 1em;
  pointer-events: none;
  margin-right: auto;
}

.header span {
  line-height: 32px;
  margin-left: 16px;
}
