.App {
  text-align: center;
  padding-top: env(safe-area-inset-top, 40px);
  min-height: 100vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: white;
}

.header {
  font-size: 32px;
  display: flex;
  margin: 10px 30px;
  width: max-content;
}

.logo {
  height: 1em;
  pointer-events: none;
  margin-right: auto;
}

.header span {
  line-height: 32px;
  margin-left: 16px;
}

.counter {
  margin: 16px;
  font-size: 128px;
}

.buttons {
  display: flex;
  gap: 16px;
  width: 100%;
  justify-content: space-evenly;
  margin-bottom: 30vh;
}
