.button {
  border: 8px solid white;
  border-radius: 35%;
  font-size: 64px;
  width: 40vmin;
  height: 40vmin;
  user-select: none;
  color: black;
  padding: 0;
  /* https://stackoverflow.com/questions/826782/how-to-disable-text-selection-highlighting */
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.plus {
  background-color: #c9f0c9;
}

.minus {
  background-color: #f0c9c9;
}

.shake {
  animation: shake 0.5s linear infinite;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-4px, -4px, 0);
  }

  20%,
  80% {
    transform: translate3d(4px, 4px, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 4px, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, -4px, 0);
  }
}
